body {
    background-color: black;

}

h1 {
    color: antiquewhite;
    font-family: Pinyon Script, cursive;
    text-align: center;
    font-size: 80px;
    text-shadow: 5px 5px 2px rgb(243, 16, 16);

}
p{
    color: gold;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(243, 16, 16);
    font-size: 30px;
}
nav{
    text-align: center;

}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 50px;
    text-shadow: 5px 5px 5px greenyellow;
}